# Python cache and compiled files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
.env

# Jupyter notebooks
.ipynb_checkpoints/

# Streamlit temp files
*.lock

# OS files
.DS_Store
Thumbs.db
