streamlit==1.45.1
opencv-python==4.9.0.80
mediapipe==0.10.14
tensorflow==2.16.1
librosa==0.10.2.post1
scikit-learn==1.5.0
numpy==1.26.4
pandas==2.2.2
plotly==5.22.0
gTTS==2.5.1
googletrans==4.0.0rc1
PyYAML==6.0.1
joblib==1.4.2
soundfile==0.12.1
